certifi==2025.4.26
charset-normalizer==3.4.2
greenlet==3.2.2
idna==3.10
imageio==2.37.0
lazy_loader==0.4
networkx==3.4.2
numpy==2.2.5
opencv-python==4.11.0.86
packaging==25.0
pillow==11.2.1
playwright==1.52.0
pyee==13.0.0
python-dotenv==1.1.0
requests==2.32.3
scikit-image==0.25.2
scipy==1.15.3
tifffile==2025.5.10
typing_extensions==4.13.2
urllib3==2.4.0
